/*---------- channel ----------*/
.channel {
  height: calc(100vh - 50px);
  padding: 15px;

  &__video {
    width: 100%;
  }

  .chat {
    width: 100%;

    &__list {
      height: calc(100% - 80px);
    }
  }
}

@media (min-width: $phone-landscape) {
  .channel {

  }
}
@media (min-width: $tablet-portrait) {
  .channel {

    &__video {
      height: calc(50vh - 50px);
    }
    .chat {
      height: calc(50vh - 80px);
      min-height: 0;
    }
  }
}
@media (min-width: $tablet-landscape) {
  .channel {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &__video {
      width: calc(70% - 15px);
      height: calc(100vh - 110px);
    }

    .chat {
      width: 30%;
      height: calc(100vh - 110px);
      margin: 0;

      &__list {
        height: calc(100vh - 190px);
      }
    }
  }
}
@media (min-width: $desktop) {
  .channel {

  }
}
/*---------- /channel ---------*/