.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 60vh;
  min-height: 300px;
  margin: 20px 0;

  &.chat_fullScreen {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 50%;
    z-index: 9999999;
    transform: translate(-50%, 0);

    .chat__list {
      height: 100%;
    }

    .chat__item {
      opacity: 0;
      pointer-events: none;
      animation: chat-item 5s ease-in-out 1;
    }
  }

  &__add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    background: #f2f2f2;
    border-radius: 6px;

    textarea {
      @include main-font1();
      width: calc(100% - 55px);
      height: 40px;
      border: none;
      background: none;
    }

    button[type=submit] {
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: red;
      border: none;
      transition: box-shadow .15s ease-in-out;

      &:hover { box-shadow: 0 0 10px rgba(0,0,0,.8) }

      &:before {
        @include absoluteCenter();
        width: 50%;
        height: 2px;
        background: #fff;
        content: '';
      }

      &:after {
        @include absoluteCenter();
        width: 2px;
        height: 50%;
        background: #fff;
        content: '';
      }
    }
  }

  &__list {
    position: absolute;
    bottom: 80px;
    left: 0;
    width: 100%;
    padding: 5px;
  }

  &__item {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    transition: opacity .3s ease-in-out;
    background: #f2f2f2;
    border-radius: 6px;
  }

  &__pic {
    overflow: hidden;
    width: 50px;
    border-radius: 50%;

    img {
      display: block;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    time {
      font-size: 10px;
    }
  }

  &__user {
    display: block;
    color: #5b5a5a;
  }

  &__wrap {
    width: calc(100% - 60px);
  }
}

@keyframes chat-item {
  0% {
    opacity: 1;
    pointer-events: fill;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: fill;
  }
}

@-webkit-keyframes chat-item {
  0% {
    opacity: 1;
    pointer-events: fill;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: fill;
  }
}
