:host >>>.sub-menu {

	a {
		position: relative;
		display: block;
		height: 80px;
		margin-bottom: 15px;
		padding: 60px 4px 0;
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 0.6px;
		color: #5f5f62;
		text-align: center;
		-webkit-transition: color $animation-time ease-in-out;
		transition: color $animation-time ease-in-out;

		svg {
			@include absoluteCenterX();
			top: 9px;
			height: 34px;
			width: auto;

			path,
			line,
			circle,
			polyline{
				fill: #5f5f62;
				-webkit-transition: all $animation-time ease-in-out;
				transition: all $animation-time ease-in-out;
			}

			&.users_programms {
				height: 61px;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
		&:before {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 4px;
			background: $main-red-color-1;
			-webkit-transform: translateX(-4px);
			transform: translateX(-4px);
			content: '';
			-webkit-transition: transform $animation-time ease-in-out;
			transition: transform $animation-time ease-in-out;
		}
		&:hover,
		&.active {
			color: $main-white-color;

			&:before {
				-webkit-transform: translateX(0);
				transform: translateX(0);
			}
			svg {

				path,
				line,
				circle {
					fill: $main-white-color;
				}
			}
		}
		&.active {
			cursor: default;
		}
	}
}


