/*---------- trends ----------*/
.trends {
  height: calc(100vh - 50px);
  padding: 15px;

  &__title {
    margin-bottom: 15px;
    font-size: 30px;
    color: #585d6b;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    display: block;
    width: 300px;
    padding: 0 15px;
    margin-bottom: 30px;
  }

  &__thumbnail {
    overflow: hidden;
    display: block;
    position: relative;
    height: 150px;
    margin-bottom: 15px;
    background-color: $main-grey-color;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:before {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.5);
      content: '';
    }

    &.enter-top {

      &:before {
        display: block;
        transform: translate(0, 0);
        animation: enter-top .6s 1 ease-in-out;
      }
    }

    &.leave-top {

      &:before {
        display: block;
        transform: translate(0, -100%);
        animation: leave-top .6s 1 ease-in-out;
      }
    }

    &.enter-right {
      animation: enter-right .3s infinite linear;
    }

    &.enter-bottom {
      animation: enter-bottom .3s infinite linear;
    }

    &.enter-left {
      animation: enter-left .3s infinite linear;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
    color: #8b8b8b;

    &-title {
      display: block;
      color: #585d6b;
      font-size: 20px;
      line-height: 24px;

      &:hover { text-decoration: underline }
    }

    p {
      font-size: 15px;
      line-height: 18px;
    }
  }

  &__views {

  }

  &__friends {
    font-size: 15px;
    line-height: 18px;

    dt {

    }

    dd {

    }

    &-item {
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
      width: 30px;
      height: 30px;
      border-radius: 50%;

      img {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
  }
}

@keyframes enter-top {
  0%{ transform: translate(0, -100%); }
  100%{ transform: translate(0, 0); }
}
@keyframes leave-top {
  0%{ transform: translate(0, 0); }
  100%{ transform: translate(0, -100%); }
}
//@-webkit-keyframes enter-top {
//  100%{ -webkit-transform: rotate(360deg); }
//}

@media (min-width: $phone-landscape) {
  .trends {

    &__title {

    }

    &__wrap {

    }

    &__item {

    }
  }
}
@media (min-width: $tablet-portrait) {
  .trends {

    &__title {
      padding: 0 15px;
    }

    &__wrap {
      flex-direction: row;
      align-items: flex-start;
    }

    &__item {

    }
  }
}
@media (min-width: $tablet-landscape) {
  .trends {

    &__item {

    }
  }
}
@media (min-width: $desktop) {
  .trends {

  }
}
/*---------- /trends ---------*/