.user-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;

  > div {
    display: inline-block;
    vertical-align: top;
  }

  &__avatar {
    position: relative;
    width: 40px;
    height: 40px;

    div {
      @include absolutePosition();
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
    }

    img {
      @include absolutePosition();
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
    }
  }

  &__settings {
    position: relative;
    height: 50px;
  }

  &__settings-menu {

    a {
      display: block;
      width: 55px;

      > i {
        display: block;
        height: 50px;
      }
    }
  }

  &__notification {
    position: relative;

    svg {
      width: 20px;
      height: auto;

      path {
        fill: $main-white-color;
      }
    }
    span {
      position: absolute;
      top: 1px;
      right: -1px;
      display: inline-block;
      width: 10px;
      height: 10px;
      padding-top: 1px;
      background: $main-white-color;
      border-radius: 50%;
      font-size: 9px;
      text-align: center;
      color: $main-red-color-2;
      font-weight: 900;
    }
  }
}

:host >>> svg.settings-icon {
  @include absoluteCenter();
  height: 26px;
  width: auto;

  path {
    fill: $main-white-color;
  }
}

@media (min-width: $phone-landscape) {


}
@media (min-width: $tablet-portrait) {

  .user-panel {

    &__settings {
      position: relative;
      height: 80px;
    }
    &__settings-menu {

    }

    &__avatar {
      width: 61px;
      height: 61px;
    }
  }
}
@media (min-width: $tablet-landscape) {


}
@media (min-width: $desktop) {


}

