/*---------- new ----------*/
.new {
  height: calc(100vh - 50px);
  padding: 15px;

  &__title {
    margin-bottom: 15px;
    font-size: 30px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    display: block;
    width: 300px;
    padding: 0 15px;
    margin-bottom: 30px;
  }

  &__thumbnail {
    display: block;
    height: 150px;
    margin-bottom: 15px;
    background-color: $main-grey-color;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-title {
      display: block;
      color: #000;
      font-size: 20px;
      line-height: 24px;
    }

    p {
      font-size: 12px;
      line-height: 16px;
    }
  }
}

@media (min-width: $phone-landscape) {
  .new {

    &__title {

    }

    &__wrap {

    }

    &__item {

    }
  }
}
@media (min-width: $tablet-portrait) {
  .new {

    &__title {
      padding: 0 15px;
    }

    &__wrap {
      flex-direction: row;
      align-items: flex-start;
    }

    &__item {

    }
  }
}
@media (min-width: $tablet-landscape) {
  .new {

    &__item {

    }
  }
}
@media (min-width: $desktop) {
  .new {

  }
}
/*---------- /new ---------*/