<div class="channel">

    <iframe class="channel__video" *ngIf="data[ 'video' ]" width="560" height="315" [src]="data[ 'video' ][ 'url' ] | safe" frameborder="0" allowfullscreen></iframe>

    <!-- chat -->
    <div class="chat">

        <!-- chat__list -->
        <div class="chat__list" perfectScroll>

            <!-- chat__item -->
            <div class="chat__item" *ngFor="let message of messages">
                <div class="chat__pic"><img width="50" height="50" alt="" src="{{ message[ 'user' ][ 'image' ] }}"></div>
                <div class="chat__wrap">
                    <div class="chat__head">
                        <strong class="chat__user">{{ message[ 'user' ][ 'first_name' ] }}</strong>
                        <time attr.datetime="{{1488648771 | time: true}}">{{message[ 'created_at' ] | time: false}}</time>
                    </div>
                    {{message[ 'text' ]}}
                </div>
            </div>
            <!-- /chat__item -->

        </div>
        <!-- /chat__list -->


            <form class="chat__add" #chatForm="ngForm" novalidate (submit)="submit()">

                <textarea id="name" type="text" name="name"
                          [(ngModel)]="text"
                          #name="ngModel"
                          placeholder="Добавить комментарий"
                          required></textarea>

                <button type="submit" [disabled]="chatForm.invalid"></button>

            </form>

    </div>
    <!-- /chat -->


    
</div>