<!-- new -->
<div class="new" perfectScroll>

    <!-- new__title -->
    <h1 class="new__title">Новинки</h1>
    <!-- /new__title -->

    <!-- new__wrap -->
    <div class="new__wrap">

        <!-- new__item -->
        <div class="new__item">

            <!-- new__thumbnail -->
            <a class="new__thumbnail" style="background-image: url(app/pic/new1.jpg)"></a>
            <!-- /new__thumbnail -->

            <!-- new__description -->
            <div class="new__description">

                <!-- new__description-title -->
                <a class="new__description-title">Текст текст текст</a>
                <!-- /new__description-title -->

                <p>Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст текст текст текст текст текст текст</p>

                <!-- new__views -->
                <div class="new__views">
                    
                </div>
                <!-- /new__views -->
                
                <!-- new__friends -->
                <dl class="new__friends">
                    <dt>36 друзей смотрели это видео</dt>
                    <dd>
                        <span class="new__friends-item"><img src="/app/pic/new1.jpg" alt=""></span>
                        <span class="new__friends-item"><img src="/app/pic/new1.jpg" alt=""></span>
                        <span class="new__friends-item"><img src="/app/pic/new1.jpg" alt=""></span>
                        <span class="new__friends-item"><img src="/app/pic/new1.jpg" alt=""></span>
                        <span class="new__friends-item"><img src="/app/pic/new1.jpg" alt=""></span>
                    </dd>
                </dl>
                <!-- /new__friends -->

            </div>
            <!-- /new__description -->

        </div>
        <!-- /new__item -->

    </div>
    <!-- /new__wrap -->

    <!-- chat -->
    <div class="chat">

        <!-- chat__list -->
        <div class="chat__list" perfectScroll>

            <!-- chat__item -->
            <div class="chat__item">
                <div class="chat__pic"><img width="50" height="50" alt="" src="/app/pic/new1.jpg"></div>
                <div class="chat__wrap">
                    <div class="chat__head">
                        <strong class="chat__user">User Nmae</strong>
                        <time attr.datetime="{{1488648771 | time: true}}">{{1488648771 | time: false}}</time>
                    </div>
                    Comment comment comment
                </div>
            </div>
            <!-- /chat__item -->

            <!-- chat__item -->
            <div class="chat__item">
                <div class="chat__pic"><img width="50" height="50" alt="" src="/app/pic/new1.jpg"></div>
                <div class="chat__wrap">
                    <div class="chat__head">
                        <strong class="chat__user">User Nmae</strong>
                        <time attr.datetime="{{1488562460 | time: true}}">{{1488562460 | time: false}}</time>
                    </div>
                    Comment comment comment
                </div>
            </div>
            <!-- /chat__item -->

            <!-- chat__item -->
            <div class="chat__item">
                <div class="chat__pic"><img width="50" height="50" alt="" src="/app/pic/new1.jpg"></div>
                <div class="chat__wrap">
                    <div class="chat__head">
                        <strong class="chat__user">User Nmae</strong>
                        <time attr.datetime="{{1488476060 | time: true}}">{{1488476060 | time: false}}</time>
                    </div>
                    Comment comment comment
                </div>
            </div>
            <!-- /chat__item -->

        </div>
        <!-- /chat__list -->

        <!-- chat__add -->
        <form action="#" class="chat__add">
            <textarea placeholder="Добавить комментарий"></textarea>
            <button type="submit">Send</button>
        </form>
        <!-- /chat__add -->

    </div>
    <!-- /chat -->

</div>
<!-- /new -->