<!-- trends -->
<div class="trends" perfectScroll>

    <!-- trends__title -->
    <h1 class="trends__title">{{title}}</h1>
    <!-- /trends__title -->

    <!-- trends__wrap -->
    <div class="trends__wrap">

        <!-- trends__item -->
        <a href="#" class="trends__item" *ngFor="let item of data[ 'trends' ]">

            <!-- trends__thumbnail -->
            <a class="trends__thumbnail" [ngClass]=className>
                <img src="{{ '/app/pic/thumbnails/' + item[ 'thumbnail' ] }}" alt="">
            </a>
            <!-- /trends__thumbnail -->

            <!-- trends__description -->
            <div class="trends__description">

                <!-- trends__description-title -->
                <strong class="trends__description-title">{{ item[ 'name' ] }}</strong>
                <!-- /trends__description-title -->

                <!-- trends__friends -->
                <ul class="trends__friends">
                    <li *ngFor="let user of item[ 'users' ]" class="trends__friends-item"><img src="{{ user[ 'image' ] }}" alt=""></li>

                </ul>
                <!-- /trends__friends -->

            </div>
            <!-- /trends__description -->

        </a>
        <!-- /trends__item -->

    </div>
    <!-- /trends__wrap -->

</div>
<!-- /trends -->