<!-- trends -->
<div class="trends" perfectScroll>

    <!-- trends__title -->
    <h1 class="trends__title">{{title}}</h1>
    <!-- /trends__title -->

    <!-- trends__wrap -->
    <div class="trends__wrap">

        <!-- trends__item -->
        <a href="#" class="trends__item" *ngFor="let item of data[ 'trends' ]">

            <!-- trends__thumbnail -->
            <a class="trends__thumbnail" [ngClass]=className>
                <img src="{{ '/app/pic/thumbnails/' + item[ 'thumbnail' ] }}" alt="">
            </a>
            <!-- /trends__thumbnail -->

            <!-- trends__description -->
            <div class="trends__description">

                <!-- trends__description-title -->
                <strong class="trends__description-title">{{ item[ 'name' ] }}</strong>
                <!-- /trends__description-title -->

                <!-- trends__friends -->
                <ul class="trends__friends">
                    <li *ngFor="let user of item[ 'users' ]" class="trends__friends-item"><img src="{{ user[ 'image' ] }}" alt=""></li>

                </ul>
                <!-- /trends__friends -->

            </div>
            <!-- /trends__description -->

        </a>
        <!-- /trends__item -->

    </div>
    <!-- /trends__wrap -->

    <!-- chat -->
    <div class="chat">

        <!-- chat__list -->
        <div class="chat__list" perfectScroll>

            <!-- chat__item -->
            <div class="chat__item">
                <div class="chat__pic"><img width="50" height="50" alt="" src="/app/pic/new1.jpg"></div>
                <div class="chat__wrap">
                    <div class="chat__head">
                        <strong class="chat__user">User Nmae</strong>
                        <time attr.datetime="{{1488648771 | time: true}}">{{1488648771 | time: false}}</time>
                    </div>
                    Comment comment comment
                </div>
            </div>
            <!-- /chat__item -->

            <!-- chat__item -->
            <div class="chat__item">
                <div class="chat__pic"><img width="50" height="50" alt="" src="/app/pic/new1.jpg"></div>
                <div class="chat__wrap">
                    <div class="chat__head">
                        <strong class="chat__user">User Nmae</strong>
                        <time attr.datetime="{{1488562460 | time: true}}">{{1488562460 | time: false}}</time>
                    </div>
                    Comment comment comment
                </div>
            </div>
            <!-- /chat__item -->

            <!-- chat__item -->
            <div class="chat__item">
                <div class="chat__pic"><img width="50" height="50" alt="" src="/app/pic/new1.jpg"></div>
                <div class="chat__wrap">
                    <div class="chat__head">
                        <strong class="chat__user">User Nmae</strong>
                        <time attr.datetime="{{1488476060 | time: true}}">{{1488476060 | time: false}}</time>
                    </div>
                    Comment comment comment
                </div>
            </div>
            <!-- /chat__item -->

        </div>
        <!-- /chat__list -->

        <!-- chat__add -->
        <form action="#" class="chat__add">
            <textarea name="chat-text" placeholder="Добавить комментарий"></textarea>
            <button type="submit"></button>
        </form>
        <!-- /chat__add -->

    </div>
    <!-- /chat -->

</div>
<!-- /trends -->