<!--user-panel-->
<div class="user-panel">

    <!--user-panel__avatar-->
    <div class="user-panel__avatar">
        <img src="{{ data[ 'me' ][ 'image' ] }}" alt="">
    </div>
    <!--/user-panel__avatar-->

    <!--user-panel__settings-->
    <div class="user-panel__settings">

        <!--user-panel__settings-menu-->
        <ul class="user-panel__settings-menu">

            <li *ngFor="let item of content">
                <a href="#" (click)="userMenuClick( $event, item )">
                    <i [innerHTML]="item.icon" title="{{ item.text }}"></i>
                    <!--{{ item.text }}-->
                </a>
            </li>

        </ul>
        <!--/user-panel__settings-menu-->

    </div>
    <!--/user-panel__settings-->

</div>
<!--/user-panel-->
